/* Change the background color of entire page */

body {
    background-color: #f2f45a;
}
/* Change the font size of the paragraphs and lists so they are different sizes*/

p {
    font-size: 20px;
}

li {
    font-size: 30px;
}

/* Add padding below each heading you've used to space them out from above content*/


h1, h2, h3, h4 {
    padding-bottom: 50px;
}

/* Make the page title, H1 bold and underlined */

h1 {
     text-decoration: underline;
    text-align: center;
    color: crimson;
}

footer {
    font-size: 40px;
}

ol img {
	max-width:2%;
}

img {
	max-width:20%;
}

